/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.contenedor {
  margin: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: #3498db;
  color: white;
}

.seccion {
  display: none;
}

.seccion.active {
  display: block;
}

button {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  margin: 5px 0;
}

input[type="text"]:focus {
  border: 2px solid #3498db;
}

/* Estilos para el modo oscuro */
body.light-mode {
  background-color: #333;
  color: white;
}

body.light-mode .tabs {
  background-color: #444;
}

body.light-mode .tab {
  color: white;
}

body.light-mode .tab.active {
  background-color: #1e90ff;
}
